html {
	background-color: #F0FFFF;
}

#navigation {
	width: 250px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	padding-top: 30px;
	background-color: #F0FFFF;
}

#navigation ul {
	list-style: none;
	margin: 4px;
	margin-left: 12px;
	padding: 2px;
}

.category {
	border-radius: 8px;
	background-color: #F2ECFF;
	border-color: black;
	border: 1px;
	border-style: solid;
	margin: 3px;
}

#navigation h3 {
	margin: 7px;
}

#navigation li {
	border-left: 3px solid #89CFF0;
}

#navigation li:hover{
	background-color: #89CFF0;
	border-left: 3px solid #89CFF0;
}



#navigation a {
	font-weight: bold;
	padding: 2px 3px;
	text-decoration: none;
}


#navigation #currentpage a {
	background: #fff;
	color: #333;
}

main {
	padding: 10px;
	margin-left:250px;
}

curr_state {
	color: tomato;
}


#p5Canvas {
	display:inline-block;
	vertical-align: top;
}

#code {
	display:inline-block;
	vertical-align: top;
	width: 40%;
	padding: 5x;
	margin: 6px;
}

#code ul {
	list-style: none;
}
